{% macro render_blog_post(post) %}
<h2 class="subtitle is-5 has-text-grey"><p>{{ post.pub_date|datetimeformat('MMMM dd, YYYY') }}</h2>
<h1 class="title is-3 has-text-black">{{post.title}}</h1>
<p class="has-text-dark">
  {{"Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
  Nemo, facilis commodi eius, natus quasi magnam amet nihil laudantium 
  itaque explicabo sed beatae vero cumque repudiandae ex. 
  Repellat deserunt officia incidunt!"[0:200]}}...
</p>
<a href="{{ post|url }}">Read More...</a>
{% endmacro %}

{% macro render_category_nav(active=none) %}

  {% set categories = site.query('/blog-categories') %}
  <ul>
  {% for category in categories %}
      <li> <a href="{{ category|url }}"> -{{ category.name }} </a> </li>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro render_project_list(blogs) %}
  <ul>
  {% for blog in blogs %}
    <li><a href="{{ blog|url }}">-{{ blog.title}}</a></li>
  {% endfor %}
  </ul>
{% endmacro %}