{% extends "layout.html" %} 

{% from "macros/blog.html" import render_project_list, render_category_nav %}
{% from "macros/blog.html" import render_blog_post %}

{% block title %} {{ this.title }} | {{super()}} {% endblock %} 

{% block body %}
<section class="hero is-info is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
    </div>
  </div>
</section>

<div class="columns">

  <div class="column has-text-left is-hidden-desktop">
    <strong class="is-size-6">Other Posts</strong>
    {{ render_project_list(this.children) }}
  </div>

  <div class="column is-four-fifths">
    {% for blog in this.children %}
    {% if not loop.last and loop.index%2 != 0 %}
    <div class="columns">
      <div class="column">
        <hr>
        {{ render_blog_post(blog) }}
      </div>
      <div class="column">
        <hr>
        {{ render_blog_post(loop.nextitem) }}
      </div>
    </div>
    {% else %}
      {% if loop.last and loop.index%2 != 0 %}
        <div class="columns">
          <div class="column">
            <hr>
            {{ render_blog_post(blog) }}
          </div>
          <div class="column">
            <hr>
          </div>
        </div>
      {% endif %}
    {% endif %}
    {% endfor %}
  </div>

  <div class="column has-text-left is-hidden-touch box">

    <!-- <div class="box"> -->
    <strong class="is-size-6">Other Posts</strong>
    {{ render_project_list(this.children) }}

    <!-- <br> -->

    <!-- <strong class="is-size-6">Categories</strong> -->
    <!-- {{ render_category_nav(active=none) }} -->

  <!-- </div> -->
  </div>

</div>
{% endblock %}
