{% extends "layout.html" %}
{% block title %}{{ this.title }} | {{super()}}{% endblock %}
{% block body %}
<!-- Seccion Home -->
<section class="section" data-aos="zoom-in">
  <div class="container">
    <h1 class="title">{{ this.title }}</h1>
    <p>
      {{ this.description}}
    </p>
  </div>
</section>
<!-- Fin seccion Home -->

<section class="section">



  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child">
        {% for project in this.children %}
        {% if (loop.index%2!=0)%}

        {% if (loop.index>1)%}
        <hr>
        {% endif %}

        <div class="has-text-centered">
          <p class="title is-3 is-spaced">{{project.name}}</p>
          {{project.description}}
          <div>
            <p class="is-size-3">
              <a href="{{project.repository}}" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </p>
          </div>
          <p class="is-size-7">
            Primer commit<br>
            <time datetime="{{project.date}}">{{project.date.strftime('%d-%m-%Y - %H:%M:%S')}}</time>
          </p>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child">
        {% for project in this.children %}
        {% if (loop.index%2==0)%}

        {% if (loop.index>2)%}
        <hr>
        {% endif %}

        <div class="has-text-centered">
          <p class="title is-3 is-spaced">{{project.name}}</p>
          {{project.description}}
          <div>
            <p class="is-size-3">
              <a href="{{project.repository}}" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </p>
          </div>
          <p class="is-size-7">
            Primer commit<br>
            <time datetime="{{project.date}}">{{project.date.strftime('%d-%m-%Y - %H:%M:%S')}}</time>
          </p>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

</section>

{% endblock %}